aiobotocore==1.2.0
aiocontextvars==0.2.2
aiofiles==22.1.0
aiohttp==3.7.3
aioitertools==0.12.0
aiokafka==0.7.2
aiosqlite==0.20.0
aiotask-context==0.6.1
alembic==1.15.1
anyio==4.8.0
astroid==2.15.8
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncpg==0.28.0
asynctest==0.13.0
attrs==25.1.0
bandit==1.8.3
black==22.12.0
botocore==1.19.52
certifi==2024.12.14
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
cloudinary==1.23.0
cloudpickle==3.1.1
colorama==0.4.6
coverage==7.6.12
cryptography==38.0.1
detect-secrets==1.5.0
dill==0.3.9
dparse==0.6.4
ecdsa==0.19.0
elastic-apm==6.7.1
elasticsearch==7.17.4
eradicate==2.3.0
exceptiongroup==1.2.2
FormEncode==2.0.0
gitdb==4.0.12
GitPython==3.1.27
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
importlab==0.8.1
iniconfig==2.0.0
iso8601==2.1.0
isort==5.13.2
Jinja2==3.1.5
jmespath==0.10.0
kafka-python==2.0.3
lazy-object-proxy==1.10.0
libcst==1.6.0
Mako==1.3.9
mando==0.7.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
multidict==5.1.0
mypy==1.15.0
mypy-extensions==1.0.0
networkx==2.8.3
ninja==1.11.1.3
numpy==2.2.2
nvidia-ml-py==12.570.86
packaging==21.3
pandas==2.2.3
pathspec==0.12.1
pbr==6.1.1
platformdirs==4.3.6
pluggy==1.0.0.dev0
propcache==0.2.1
psutil==5.8.0
psycopg2-binary==2.9.10
py==1.11.0
pyasn1==0.6.1
pycodestyle==2.12.1
pycparser==2.22
pydantic==1.9.0
pydocstyle==6.3.0
pydot==3.0.4
pyflakes==3.2.0
Pygments==2.19.1
pylama==8.4.1
pylint==2.17.7
pynvml==12.0.0
pyparsing==3.2.1
pypika-tortoise==0.5.0
pytest==6.2.1
pytest-cov==3.0.0
pytest-sanic @ git+https://github.com/RasaHQ/pytest-sanic@4092e8005fbbdc29b892cd8b09399894d86b1ac7
python-dateutil==2.9.0.post0
python-jose==3.3.0
python-json-logger==2.0.1
python-slugify==6.1.1
pytype==2023.1.17
pytz==2024.2
PyYAML==6.0.2
radon==6.0.1
requests==2.32.3
rich==13.9.4
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safety==2.3.5
sanic==21.12.1
sanic-ext==24.12.0
sanic-openapi==21.12.0
sanic-routing==0.7.2
scalene==1.5.20
sentry-sdk==1.7.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
SQLAlchemy==2.0.39
stevedore==5.4.0
tabulate==0.9.0
text-unidecode==1.3
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tortoise-orm==0.24.0
typing_extensions==4.12.2
tzdata==2025.1
ujson==4.1.0
urllib3==1.26.20
uvloop==0.21.0
vulture==2.14
websockets==10.4
wrapt==1.17.2
yappi==1.6.10
yarl==1.18.3
